.hero_images img{
    margin-left: 50%;
    border-radius: 40px;
width: 50%;
background-repeat: no-repeat;
background-size: cover;
justify-content: center;
align-items: center;
gap: 100px;
}

 /* .slick-slide {
    margin-right: 10px;
 } */
 .slick-prev{position: absolute;
    left: 2%;}
 
    .slick-next{position: absolute;
     right: 2%;}
  
     .whatsapp-icon {
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 999; /* Adjust the z-index if needed to make sure the icon is above other elements */
    }
    
    .wp {
      width: 30px;
      height: 30px;
      color: green;
      /* Add other styles as needed */
    }

   