/* destination.css */

.destination-container {
    border: 1px solid #ff3d00;
    background-color: #ff3d00;
     /* Adjust the padding as needed */
  }
  

  
  .destination-container {
    display: flex;
    flex-wrap: wrap;
     justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
    padding: 5px 0px 5px 0px;
  }
  
  .image-with-text img {
    border: 2px solid #ff3d00;
    border-radius: 25px;
    margin: 20px 10px 0px 10px;
    
  }
  
  .image-with-text h5, p {
    color: black;
    margin-left: 10px;
  }
  
  /* destination.css */

.carousel-image {
    width: 100px; /* Adjust the width as needed */
    height: 75px; /* Adjust the height as needed */
    /* border: 2px solid #ff3d00; */
    border-radius: 25px;
  }
  .carousel-container{
    margin-bottom: 20px;
  }
  
  

  .slick-prev{position: absolute;
    left: 6px;
  right:6px}
 
    .slick-next{position: absolute;
     right: 2%;}
